body{
    margin: 0px auto;
}
header{
    width: 100%;
    background: #fff059;
    height: 68px;
}
.meio{
    width: 1188px;
    margin: 0px auto;
    padding-right: 26px;
}
.logo{
    width: 180px;
    float: left;
    max-width: 100%;
}
.corpo{
    width: 100%;
    
}
.sidebar-right{
    width: 405px;
    float: right;
    bottom: 4px;
    position: relative;
    left: 1px;
    height: 1200px;
}
.porto-sul{
    width: 1170px;
    float: left;
}
.titulo{
    float: left;
    width: 770px;
}
.info-produto{
    width: 776px;
    float: left;
    list-style: none;
    background-color: #D8E1E3;
    margin-top: 0;
    height: 115px;
    border: 1px solid activecaption;
    color: #656666;
    font-family: aller; src: url(http://ff.static.1001fonts.net/a/l/aller.regular.ttf);
    padding: 8px 0px 8px 0px;
    margin-bottom: 5px;
    font-size:12px;
}
.info-produto span{
    padding-left: 15px; 
}
.carac-produto{
    width: 776px;
    float: left;
    list-style: none;
    background-color: #D8E1E3;
    margin-top: 0;
    height: 155px;
    border: 1px solid activecaption;
    color: #656666;
    font-family: aller; src: url(http://ff.static.1001fonts.net/a/l/aller.regular.ttf);
    padding: 8px 0px 8px 0px;
    margin-bottom: 5px;
    font-size:18px;
}
.carac-produto span{
    display: block;
    padding-left: 18px;
    margin-bottom: 9px;
}
.frete{
    width: 770px;
    float: left;
}

